
Test-Command: for i in strings badging permissions resources configurations; do aapt dump $i tools/aapt2/integration-tests/ConvertTest/duplicate_entries.apk > /dev/null; done

Test-Command: for i in badging configurations packagename permissions strings resources; do aapt2 dump $i tools/aapt2/integration-tests/ConvertTest/duplicate_entries.apk > /dev/null; done
